form {
  border: 3px solid #f1f1f1;
  padding: 30px;
  margin-bottom: 10px;
}

/* Full-width inputs */
input[type=email],
input[type=password],
input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.submit-btn, input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

h2, label {
  text-align: center;
  color: #3B444B;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #3B444B;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.submit-btn:hover {
  opacity: 0.8;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
